/*
  Global CSS only
  Try to use inline styles in component files instead of adding here
*/

* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
  color: #333;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  color: hsl(220, 80%, 60%);
  text-decoration: none;
}

a:hover {
  color: hsl(220, 80%, 60%);
  text-decoration: underline;
}


/* Form styles */

form > div {
  margin: 0 0 1rem;
}


/* Animations */

@keyframes rotation {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(359deg)
  }
}
