/*
  Global CSS only
  Try to use inline styles in component files instead of adding here
*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
}
