* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.header {
  border-bottom: 1px solid #eee;
  padding: 0 0 1rem;
  margin: 0 0 2rem;
}
